<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.unisoc.storageclearmanager"
    android:sharedUserId="android.uid.system">
    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@android:style/Theme.Material.Light.LightStatusBar"
        android:resizeableActivity="false"
        android:supportsRtl="true">
        <activity android:name=".StorageClearManager"
            android:label="@string/storage_clear_title"
            android:exported="true"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.unisoc.action.STORAGE_CLEAR" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
